


.alert-success,
.alert-error {
    box-sizing: border-box;
    width : 100%;
    background-color : #0a9443;
    color : white;
    padding : 1rem 1.5rem;
    border-radius : 2rem;
    text-align : center;
    letter-spacing: 1px;
}

.alert-error {
    background-color: #be241e;
}