* {
    box-sizing: border-box;
}


@media screen and ( max-width : 767px ) {
    :root  {
        --scale : .8;
    }
}

@media screen and ( min-width : 768px ) {
    :root {
        --scale : 1;
    }
}


.test {
    color : white;
}

#anime-detail {
    margin-top : 2.5rem;
    width : 100%;
    position: relative;
}


.img-hero {
    width: 80%;
    height: 40vw;
    margin : auto;
    box-shadow : 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.img-hero img {
    width: 100%;
    height: 100%;
}

.alert {
    display: none;
    margin : auto;
    padding : .5rem 1rem;
    text-align: center;
    width : 50%;
    transition: all .5s ease;
    border-radius: .5rem;
}

.is-visible {
    display: block;
    margin-top: 2.5rem;
}

.error {
    background-color : #c22f2f;
    color : white;
}


.container {
    margin-top : 2.5rem;
    width : 100%;
    display : flex;
}

.container .anime-info,
.container .anime-content {
    padding : 1.5rem;
    color : white;
}

.container .anime-content  h1,
.container .anime-info  h2  {
    letter-spacing: 3px;
    text-align : center;
}


.container .anime-content  h1 {
    display: block;
    font-size :32px;
}



.container .anime-info {
    flex : 1.5;
    background-color : #18963e;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.7);
}



.container .anime-info  h2::after {
    content : "";
    width: 100%;
    margin-top : 1rem;
    margin-bottom: 1.5rem;
    display: block;
    border : 2px solid white;
}

.container .anime-info  .anime-info-list  {
    list-style: none;
}

.container .anime-info  .anime-info-list  li {
    margin : 1rem 0;
}

.container .anime-info  .anime-info-list  li .aired-date {
    font-size : 14px;
}


.container .anime-content {
    position: relative;
    flex : 8.5;
    background-color : #1a799e;
    margin-left : 1.5rem;
    box-shadow: -5px 3px 8px rgba(0, 0, 0, 0.7);
}

.container .anime-content .btn-love-wrapper {
    position : absolute;
    left : 1rem;
    top : 1.93rem;
}

.container .anime-content .btn-love-wrapper i {
    font-size : 36px;
    cursor: pointer;
    transform : scale(1);
    transition: transform .5s ease-out;
}

.container .anime-content .btn-love-wrapper i.love {
    color : #d6137f;
    text-shadow: 0px 3px 5px rgba(24, 24, 24, 0.726);
    transform: scale(1.3);
}

.container .anime-content  .spec-info {
    width: 60%;
    display : flex;
    justify-content: space-between;
    margin :auto;
    margin-top : 2rem;
}

.container .anime-content  .spec-info div {
    background-color : rgb(22, 22, 22);
    border-radius : 2rem;
    padding : .5rem 2rem;
    color : white;
    box-shadow : 0px 3px 9px rgba(0, 0, 0, .3);
}

.container .anime-content .preview-wrapper {
    margin-top : 3rem;
    height: 55vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.192);
}

.container .anime-content  .spec-info div  span {
    font-weight : bold;
    font-size : calc(20px * var(--scale));
    line-height: 1.8;
}

.icon {
    margin-left : .5rem;
    vertical-align : baseline;
}

.container .anime-content .content-title {
    text-align : center;
    margin-top : 3rem;
}

.container .anime-content .anime-desc {
    text-indent : 50px;
    margin-top : 1rem;
    line-height: 1.8;
    padding-bottom : 1rem;
}


#comment-body {
    background-color : #2489b1;
    box-shadow: -5px 3px 8px rgba(0, 0, 0, 0.7);
    min-height : 20vh;
    margin-top : 3rem;
    padding : 2rem;
}

#comment-body  h1 {
    padding-bottom: 1rem;
    color : #eee3e3;
}

#comment-body .comment-card {
    background-color : #1a70a1;
    padding : 1rem 2rem;
    color : #eee3e3;
    box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.233);
    border-radius : .7rem;
    margin-bottom : 2rem;
}

#comment-body .comment-card .comment-info {
    margin-bottom : .5rem;
}

#comment-body .comment-card .username {
    display: inline-block;
    font-size : 24px;
    font-weight: 600;
    margin-right : .2rem;
}

#comment-body .comment-card .comment-date {
    display : inline-block;
    font-weight: 600;
}

#comment-body .comment-card  .comment-text {
    text-indent : 20px;
}

#comment-body .comment-input {
    padding : 1rem 0rem;
    position: relative;
    width : 50%;
}

#comment-body .comment-input h3 {
    padding-bottom : 1rem;
    color : #eee3e3;
}

#comment-body .all-comments #btn-more-comnt {
    display: block;
    padding : .5rem 1rem;
    border : none;
    border-radius : .2rem;
    cursor: pointer;
    margin : auto;
}


#comment-body .comment-input input {
    background-color: #fefefe;
    display: block;
    color : #303030;
    padding : .75rem 1.5rem;
    outline : none;
    border : none;
    border-radius : .7rem;
    width : 100%;
    box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.233);
}

#comment-body .comment-input button {
    position: absolute;
    background-color : #303030;
    color : #fefefe;
    cursor : pointer;
    z-index : 2;
    right : 0;
    bottom : 1rem;
    outline : none;
    border : none;
    padding : .75rem 1.5rem;
    border-top-right-radius : .7rem;
    border-bottom-right-radius : .7rem;
}

#comment-body .not-authorized {
    color : #eee3e3;
    
}


#comment-body .not-authorized a{
    transform : scale(1);
    transition: transform .4s ease;
    font-size: 24px;
    margin-left :.3rem;
}


#comment-body .not-authorized a:hover {
    color : #eee3e3;
    transform :scale(1.1);
}





@media only screen and ( max-width : 767px ) {
    .img-hero  {
        width: 100%;
        height : 55vw;
        box-shadow : 0px 10px 15px rgba(0, 0, 0, 0.5);
    }

    #anime-detail {
        margin-top : 0rem;
    }

    .container {
        flex-direction: column-reverse;
        margin-top : 0rem;
    }
    
    .container .anime-content  {
        box-shadow: none;
        margin : 0;
    }

    .container .anime-content  {
        padding : 1rem;
    }

    .container .anime-content .spec-info {
        width: 70%;
        display: block;
        text-align : center;
    }

    .container .anime-content .spec-info div {
        margin-bottom : 1rem;
    }

    .container .anime-content .btn-love-wrapper {
        left : .3rem;
        top : 1.3rem;
    }

    .container .anime-content  h1 {
        padding : 0rem 1rem
    }

    #comment-body .comment-input  {
        width : 100%
    }
}