* {
    padding :  0;
    margin : 0;
}

.container {
    width : 100%;
    min-height : 100vh;
    background-color : gray;
    display : flex;
    align-items: center;
    justify-content : center;
}

.container .form-wrapper {
    padding : 5rem;
    background-color : red;
}